@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

*{
    margin: 0;
    padding: 0;
    user-select: none;
    box-sizing: border-box;
}

body{
    background: #695cfe;
    justify-content: center;
    align-items: center;
    display: flex;
    min-height: 100vh;
    transition: all 0.2s ease;
}

.box{
    background: #fff;
    padding-top: 30px;
    padding: 30px;
    border-radius: 10px;
    transition: all 0.5s ease;
    animation: pulse 1.2s infinite ease-in-out;
}

.box h2{
    margin-bottom: 40px;
    text-align: center;
    font-size: 26px;
    color: #695cfe;
    font-family: 'Montserrat', sans-serif;
}

input{
    padding: 20px;
    user-select: none;
    height: 50px;
    width: 400px;
    border-radius: 6px;
    border: 2px solid#695cfe;
    outline: none;
    font-size: 22px;
    color: #4c42b8;
    font-family: 'Montserrat', sans-serif;
}

input::placeholder{
    font-size: 23px;
    color: #695cfe;
}

.v2{
    color: #fac130;
}

i{
    font-size: 17px;
    color: #fac130;
    padding-right: 3px;
}

#button{
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    margin-top: 40px;
    width: 155px;
    height: 50px;
    background: #695cfe;
    text-align: center;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.2s ease;
}

.btn2{
    margin-left: 85px;
}

#button:hover{
    background: #4c42b8;
}

#button:active{
    transform: scale(0.96);
}

@keyframes pulse {
    0% {
        box-shadow: 0px 0px 10px 0px #540085;
    }
    50% {
        box-shadow: 0px 0px 25px 1px #52057e;
    }
    100% {
        box-shadow: 0px 0px 10px 0px #540085;
    }
}